# This files originate from the "" project:
#     https://github.com/
# Created by              at University Paul Sabatier III:
#     https://github.com/
#     https://github.com/
#     https://github.com/
# License:

setuptools
pytest==4.3.1
pytest-cov==2.6.1

